<!DOCTYPE html>
<html lang="{{ this.language }}"
  {{ global.devMode|default(false) ? 'data-mode="development"' }}>
  <head>
    <title>
      {{ this.title }}
      |
      {{ global.siteName }}
    </title>
    {% if not global.devMode|default(false) %}
      <link rel="stylesheet" href="/assets/index.css" />
    {% endif %}
    {% include "@src/components/meta/index.twig" %}
    {% include "@src/components/pwa/index.twig" %}
    {% include "@src/components/speculationRules/index.twig" %}
  </head>
  <body>
    <article>
      {% include "@src/components/header/index.twig" %}
      <main>
        {% block main %}
          _dom.twig
        {% endblock %}
      </main>
      {% include "@src/components/footer/index.twig" %}
    </article>

    {% if global.devMode|default(false) %}
      <script type="module" src="http://localhost:5174/src/main.ts"></script>
    {% else %}
      <script src="/assets/index.js" defer></script>
    {% endif %}
  </body>
</html>
