<link rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/favicon/apple-touch-icon.png" />
<link rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/favicon/favicon-32x32.png" />
<link rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/favicon/favicon-16x16.png" />
<link rel="mask-icon"
  href="/assets/favicon/safari-pinned-tab.svg"
  color="#5bbad5" />
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
<meta name="msapplication-TileColor" content="#ffc40d" />
<meta name="theme-color" content="#ffffff" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="{{ global.meta.appTitle }}" />
<meta name="application-name" content="{{ global.meta.appTitle }}" />
