{#
A set of rules for the Speculation Rules API
  - Already optimized for Craft CMS and WordPress (based on the rules defined in https://wordpress.org/plugins/speculation-rules/)
  - Limited browser support: https://developer.mozilla.org/en-US/docs/Web/API/Speculation_Rules_API#browser_compatibility
  - Documentation: https://developer.chrome.com/docs/web-platform/prerender-pages
  - Further reading: https://developer.mozilla.org/en-US/docs/Web/API/Speculation_Rules_API
#}

{# Array of absolute URLs. These URLs will always be prefetched. Use this for a page, that you know, the user will most likely visit during the browing of the website, like a contact page. Check limitations (https://developer.chrome.com/docs/web-platform/prerender-pages#chrome-limits) for immediate / eager Prefetch. This is limited to HTTPS requests and will not work in local development. #}
{% set alwaysPrefetch = ["/", "/kontakt"] %}

{# Array of absolute URLs. These URLs will never be preloaded. #}
{% set alwaysExclude = [
  "/admin/*",
  "/wp/wp-login.php",
  "/wp/wp-admin/*",
  "/*\?*(^|&)_wpnonce=*"
] %}

<script type="speculationrules">
  { "prerender": [ { "source": "document", "where": { "and": [ { "href_matches":
  "/*" }, { "not": { "href_matches": {{ alwaysExclude|json_encode }} } }, { "not":
  { "selector_matches": "a[rel=nofollow]" } }, { "not": { "selector_matches": ".no-prerender"
  } } ] }, "eagerness": "moderate" } ], "prefetch": [{ "urls":
  {{ alwaysPrefetch|json_encode }}, "eagerness": "eager" }] }
</script>
