$color-black: #222;
$color-white: #fff;

:root {
  --background-color: #{$color-white};
  --color: #{$color-black};

  @media (prefers-color-scheme: dark) {
    --background-color: #{$color-black};
    --color: #{$color-white};
  }
}
