<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description"
  content="{{ this.meta.description|default(global.meta.description) }}" />
{% block meta %}
  {# Additional meta information #}
{% endblock %}
